/* app css stylesheet */

li {
  display: inline;
}
table {
  display: block;
  margin: 5px auto;
  border-collapse: collapse;
  width: 600px;
  text-align: center;
}
tbody tr {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
tbody tr:first-of-type {
  border: none;
}
td {
  width: 20%;
}
th {
  background: black;
  color: white;
  font-weight: bold;
}
th:first-of-type {
  border-top-left-radius: 10px;
}
th:last-of-type {
  border-top-right-radius: 10px;
}
th:last-of-type {
  width: 40%;
}
tbody td {
  border-bottom: 1px solid black;
}
tbody tr {
  margin-right: 2px;
}
tbody tr:nth-of-type(even) {
  background: #eeeeee;
}
#searchArea {
	text-align: center;
}