<!doctype html>
<html lang="en" ng-app="contactListApp">
<head>
  <meta charset="utf-8">
  <title>Contact List - C0471944</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="ContactListCtrl">
  <head>
    <h1>Contact List</h1>
    <h3>Jeff Codling - c0471944</h3>
    <h3>Lambton College CPRO</h3>
  </head>
	<div id="searchArea">
		Search: <input ng-model="query">
		Sort by:
		<select ng-model="orderProp">
			<option value="first">First Name</option>
			<option value="last">Last Name</option>
			<option value="extension">Extension</option>
		</select>
	</div>
	<table>
	  <tr>
      <th>Thumb</th>
      <th>First Name</td>
      <th>Last Name</td>
      <th>E-Mail</td>
      <th>Phone Number</td>
	  </tr>
	  <tr class="contact" ng-repeat="contact in contacts | filter:query | orderBy:orderProp">
      <td class="thumb">
        <a href="#/contacts/{{contact.id}}">
          <img ng-src="{{contact.imageUrl}}" alt="{{contact.first}} {{contact.last}}" title="{{contact.first}} {{contact.last}}">
        </a>
      </td>
      <td class="first">{{contact.first}}</td>
      <td class="last">{{contact.last}}</td>
      <td class="email">{{contact.first+'.'+contact.last+'@lambtoncollege.ca'}}</td>
      <td class="phone">519-542-7751 ext. {{contact.extension}}</td>
	  </tr>
	</table>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
